HOST_HOST=0.0.0.0
HOST_PORT=8080
HOST_NAME="Rescue Marketplace"
HOST_FORWARD_FROM=hail-mary-proxy

DATABASE_HOST=hail-mary-database
DATABASE_PORT=5432
DATABASE_USERNAME=hail-mary
DATABASE_PASSWORD=secret-password
DATABASE_DATABASE=hail-mary
