HOST_HOST=0.0.0.0
HOST_PORT=8080
HOST_NAME="Rescue Marketplace"
HOST_FORWARD_FROM=hail-mary-proxy

DATABASE_HOST=hail-mary-database
DATABASE_PORT=5432
DATABASE_USERNAME=hail-mary
DATABASE_PASSWORD=secret-password
DATABASE_DATABASE=hail-mary

BLOCK_URL_PORT=hail-mary-block:9000
BLOCK_ACCESS_KEY=hail-mary
BLOCK_SECRET_KEY=secret-password
